<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Talent Shoniwa</h1>
		<p>Welcome to  my second project</p>
		<p> It is a Blog application which gives you the ability to write blogs and post comments on
		other blogs.</p>
		
	</div>
</div>